{% extends "layout.html" %}
{% block content %}

{% for doctor in doctors %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ doctor.specialist }}</a>
            <small class="text-muted">{{ doctor.education }}</small>
        </div>
        <h4><a class="article-title" href="#">{{ doctor.name }}</a></h4>
        <p class="article-content"><b>Patients Examined: </b>{{ doctor.patients_examined }}</p>
        <p class="article-content"><b>Experience: </b>{{ doctor.experience }} years</p>
        <p class="article-content"><b>Fees:</b> &#x20B9 {{ doctor.fees }}</p>
        <p class="article-content"><b>Contact: </b> {{ doctor.contact }}</p>
    </div>
</article>

{% endfor %}
{% endblock %}